/* Hero.css */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  position: relative; /* Make sure the relative positioning allows for absolute children */
}

.hero-text-section {
  display: flex;
  flex-direction: column;
  padding: 70px;
  width: 60%;
  background: linear-gradient(to left, rgba(152, 172, 229, 0) 0%, rgb(48, 125, 105) 100%);
  border-radius: 8px;
  position: relative; /* Position relative to use absolute positioning for ::after */
  overflow: hidden; /* Hide overflowed parts */
}

.hero-text-section h2 {
  text-align: left;
  color: #00332c;
  font-size: 3.1rem;
  margin-bottom: 30px;
  font-weight: 900;
  font-family: 'Dm Sans';
}

.hero-text-section p {
  text-align: left;
  color: #333;
  font-size: 1.0rem;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: 'Dm Sans';
}

.hero-button {
  border: 2px solid #216217;
  color: #00332c;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.0rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-left: 100px;
  margin-right: 200px;
}

.hero-button:hover {
  border: 2px solid #e6b732;
  background: #e6b732;
}

.hero-image-container {
  width: 40%;
  position: relative;
  height: 66vh; /* Adjust as needed */
  overflow: hidden;
  opacity: 0.05;
}

.hero-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px; 
  height: 100%;
  background: linear-gradient(to right, #f9f9f9, rgba(216, 216, 216, 0));
  z-index: 1; 
}

.hero-text-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px; 
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(48, 125, 105, 1) 100%);
  z-index: 2; /* Ensure it's above the image but below text */
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(9, 70, 236, 0) 0%, rgb(111, 168, 194) 100%);
}

.info-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 90%;
}

.info-card {
  background-color: #fff;
  padding: 20px;
  display: flex;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex: 1;
  margin-right: 20px;
  font-family: 'Dm Sans';
}

.card-one {
  max-width: 55%;
}

.card-two {
  flex-direction: column;
  max-width: 45%;
}

.info-card h4 {
  color: #00332c;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.info-card p {
  color: #333;
  font-size: 1rem;
  margin-bottom: 20px;
}

.info-link {
  color: #f9c842;
  text-decoration: none;
  font-weight: bold;
}

.info-link:hover {
  text-decoration: underline;
}

.info-card:last-child {
  margin-right: 0;
}

.info-card ul {
  list-style: none;
  padding: 0;
}

.info-card li {
  margin-bottom: 10px;
}

.info-card li a {
  color: #00332c;
  text-decoration: none;
}

.info-card li a:hover {
  text-decoration: underline;
}
